.admin-panel {
    display: flex;
  }
  

  
  .table-container {
    flex-grow: 1;
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    /* Add your desired table styles */
  }
  
  .boss{
    width: 100%;
    display: flex;
       align-items: center;
       /* justify-content: center; */
       height: 100vh;
  }